$black-bg :#121212;
$black-text: white;
@mixin  custom-mode($background_colors,$text_color) {
    background-color: $background_colors;
    color: $text_color;
}
@mixin  custom-height($h,$w) {
    height: $h;
    width: $w;
}
.alertMsg{
    margin-bottom:0;
}
#carouseimg{
    @include custom-height(600px,100%);
}
.dark-mode{
    @include custom-mode(black,rgb(255, 255, 255));
}
.row-content{
    margin:40px 0px;
}
#summer-card
{
    margin-top: 20px;
    @include custom-height(auto,auto);
}
.summer-sales-h{ 
    display: inline; 
    font-family:'Headland One', serif; ;
    font-weight: bold;
    font-size: 3rem;
    @include custom-mode(black, white);
    opacity: 0.8;
}
#carousel1{
    @include custom-height(600px,100% )
}
#summer-card:hover{
    overflow: hidden;
    transform: scale(1.1);
    transition: 0.4s;
    @include custom-height(auto,auto);

}
.sales-badge{
    padding: 8px;
}
.footer{
    background-color: rgb(105, 110, 104);
    min-height: 150px;
    padding: 40px;
    margin-bottom: 0px;
}
.count-down{
    display: flex;
    margin:0px 20px;
    div{
        margin-left: 10px;
        padding: 10px 5px;
        @include custom-mode(black,white);
    }
}
#Search-panel{
    border-radius: 10px;
    margin:30px;
}
#Search-panel::placeholder{
    text-align: right;
}
.card{
    margin-bottom: 20px;
}
.dev{
    height: 100%;
    max-width: 400px;
}
nav{
    margin-bottom: 30px;
}